:root {
    --сuprum-font-family: 'Cuprum', sans-serif;
}

.pro-form {
    font-family: var(--сuprum-font-family);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: gray;
}

.pro-form input {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: darkslategrey;
    padding: 10px;
    margin-bottom: 30px;
}

.pro-form input:focus {
    outline-width: 0;
}

.pro-buttons {
    width: 200px;
}

.form-b-1 {
    float: left;
    cursor: pointer;
}

.form-b-2 {
    float: right;
    cursor: pointer;
}

.error {
    margin-bottom: 30px;
}

.post-list, .post-list img {
    width: 1280px;
    margin: 0 auto;
}

.post-list img {
    margin: 30px 0;
}

.create {
    float: left;
}

.auth {
    float: right;
}

.top-bar, .bottom-bar {
    font-family: var(--сuprum-font-family);
    font-size: 16px;
    width: 1000px;
    margin: 0 auto;
    color: grey;
}

.top-bar {
    margin-top: 20px;
}

.bottom-bar {
    margin-bottom: 30px;
}

.top-bar a {
    color: grey;
    text-decoration: underline;
}

.bottom-bar div {
    cursor: pointer;
    text-decoration: underline;
}

.prev {
    float: left;
}

.next {
    float: right;
}