.home {
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
}

.pro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: gray;
}

.pro-form input, .pro-form textarea {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: darkslategrey;
    padding: 10px;
    margin-bottom: 30px;
}

.pro-form input:focus,
.pro-form textarea:focus {
    outline-width: 0;
}

.pro-form textarea {
    height: 200px;
    scrollbar-color: grey darkslategrey;
    scrollbar-width: thin;
}

.pro-form textarea::-webkit-scrollbar {
    background-color: darkslategrey;
    width:6px
}

.pro-form textarea::-webkit-scrollbar-track {
    background-color: darkslategrey
}

.pro-form textarea::-webkit-scrollbar-thumb {
    background-color: grey;
}

#menu, .bottom-bar div, .delete, .copyright div  {
    cursor: pointer;
    text-decoration: underline;
}

.pro-buttons {
    width: 200px;
}

.form-b-1 {
    float: left;
    cursor: pointer;
}

.form-b-2 {
    float: right;
    cursor: pointer;
}

.error {
    margin: 0 auto 30px;
    text-align: center;
}

.post-list img {
    max-width: 100%;    
}

/* .post-list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: .5%;
    grid-row-gap: 5%;
} */

.post-list > div {
    margin: 30px 0 30px 0;
    /*null height with float divs hack*/
    overflow: hidden;
}

.control {
    margin: 0 auto;
    max-width: 900px;
}

.text {
    margin: 0 auto 10px;
    max-width: 900px;
    white-space: pre-line;
}

.top-bar, .bottom-bar {
    max-width: 900px;
    margin: 0 auto;
}

.top-bar {
    padding-top: 20px;
    display: flex;
}

.auth {
    margin-left: auto;
}

#menu {
    margin-right: 10px;
}

#menu > ul {
    list-style: none;
    padding: 5px 8px 5px 8px;
    margin: 10px 0 0 5px;
	transition-duration: 0.1s; 
    position: absolute;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #FFFFFF;
}

#menu a {
    display: block;
    text-decoration: none;
}

.m-list-hidden {
    visibility: hidden;
    opacity: 0;
}

.m-list-visible {
    visibility: visible;
    opacity: 1;
}

.bottom-bar {
    margin-bottom: 30px;
    /*null height with float divs hack*/
    overflow: hidden;
}

.top-bar a, .post a {
    color: grey;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.delete, .edit {
    float: right;
}

.edit {
    margin-right: 20px;
}

.logo {
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.footer {
    text-align: center;
}

.copyright {
    margin-bottom: 30px;
    /* text-align: center; */
}

.copyright div {
    display: inline;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social img {
    margin: 0 10px;
}

.social .in {
    width: 40px;
}
.social .tw {
    width: 26px;
}
.social .tg {
    width: 26px;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

#logo-animate {
    margin: 0 auto;
    animation: b 0.5s ease-in-out infinite;
    display: block;
}
  
@keyframes b {
  0% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  10% {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.up {
    position: fixed;
    right: 20px;
}

#copyright-logo {
    margin-bottom: -7px;
    width: 22px;
}