.home {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.pro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: gray;
}

.pro-form input, .pro-form textarea {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: darkslategrey;
    padding: 10px;
    margin-bottom: 30px;
}

.pro-form input:focus,
.pro-form textarea:focus {
    outline-width: 0;
}

.pro-form textarea {
    height: 200px;
    scrollbar-color: grey black;
    scrollbar-width: thin;
}

.pro-form textarea::-webkit-scrollbar {
    background-color: black;
    width:6px
}

.pro-form textarea::-webkit-scrollbar-track {
    background-color: black
}

.pro-form textarea::-webkit-scrollbar-thumb {
    background-color: grey;
}

.pro-buttons {
    width: 200px;
}

.form-b-1 {
    float: left;
    cursor: pointer;
}

.form-b-2 {
    float: right;
    cursor: pointer;
}

.error {
    margin-bottom: 30px;
}

.post-list img {
    max-width: 100%;    
}

.post-list > div {
    margin: 30px 0 30px 0;
    /*null height with float divs hack*/
    overflow: hidden;
}

.control {
    margin: 0 auto;
    max-width: 1000px;
}

.text {
    margin: 0 auto 10px;
    max-width: 1000px;
    white-space: pre-line;
}

.create {
    float: left;
}

.auth {
    float: right;
}

.top-bar, .bottom-bar {
    max-width: 1000px;
    margin: 0 auto;
}

.top-bar {
    margin-top: 20px;
    /*null height with float divs hack*/
    overflow: hidden;
}

.bottom-bar {
    margin-bottom: 30px;
    /*null height with float divs hack*/
    overflow: hidden;
}

.top-bar a, .post a {
    color: grey;
}

.bottom-bar div, .delete {
    cursor: pointer;
    text-decoration: underline;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.delete, .edit {
    float: right;
}

.edit {
    margin-right: 20px;
}

.logo {
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.copyright {
    margin-bottom: 30px;
    text-align: center;
}

.copyright a {
    color: grey;
}

.twitter {
    margin: 0 auto 30px;
    display: block;
    width: 50px;
}

.twitter img {
    width: 50px;
}

.li {
    margin: 0 auto 20px;
    display: block;
    width: 88px;
    height: 31px;
}

.li img {
    width: 88px;
    height: 31px;
}